<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <style src="./app.component.css"></style>
</head>
<body>
  <nav class="navbar">
    <ul>
      <li><a href="http://">Home</a></li>
      <li><a href="http://">For Buyers</a></li>
      <li><a href="http://">For Tenants</a></li>
      <li><a href="http://">For Dealers / Builders</a></li>
      <li><a href="http://">Post a Property</a></li>
      <li><a href="http://">Customer Care</a></li>
      <li><a href="http://">Profile</a></li>
    </ul>
    <img src="https://source.unsplash.com/PhYq704ffdA" alt="Real Estate Image" id="home_search_image">
  </nav>
</body>
</html>